<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=s, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <p class="p-8 text-xs sm:text-center text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate soluta
      quos vitae commodi at doloremque veritatis assumenda, ex quis quod id,
      possimus tenetur eius. Pariatur reprehenderit nisi totam beatae
      consectetur! Dolorum vel adipisci nesciunt id! Pariatur, deleniti? Dolorem
      dolorum aliquam velit veritatis reprehenderit accusamus deleniti?
      Repellendus minima dolorum esse in odio itaque quam, illo at ea? Nulla
      aliquid a distinctio quis ex recusandae perspiciatis at facere rem? Nam,
      quibusdam. Vel molestiae deleniti nostrum molestias earum necessitatibus
      itaque quisquam? Mollitia quibusdam, ab inventore voluptatibus odio
      corporis quaerat atque est temporibus fugiat? Ratione placeat eligendi
      quas obcaecati deleniti nulla qui, cupiditate iusto non tenetur sunt
      consectetur in accusamus aperiam aliquam porro nemo reprehenderit
      nesciunt. Earum tempora aspernatur blanditiis doloribus, expedita atque
      corporis incidunt vel maiores ducimus totam ad voluptatem nam magnam
      aperiam minima optio magni ab dolorum culpa exercitationem minus? Saepe
      corporis consectetur facere ab commodi fuga dolores reiciendis magni
      quidem natus! Dolores itaque voluptas illo assumenda corrupti commodi
      ipsum veniam dicta minima officia alias temporibus tempora fugiat iusto
      fugit in suscipit dolor architecto debitis praesentium, enim, consequatur
      vel! Iure eveniet eligendi molestiae ullam adipisci consequatur dolor sit
      commodi necessitatibus reprehenderit. Assumenda at, rerum exercitationem
      dolorem cum enim atque esse, quia cumque libero quos. Totam optio harum
      modi dicta, rerum cupiditate error quod libero iste? Voluptas impedit
      voluptatem in velit officiis nobis autem, sunt beatae eaque provident
      repudiandae ut! Blanditiis ut ab velit nulla impedit ipsum, magnam
      assumenda aliquam voluptates inventore nostrum iusto maxime? Voluptates
      veniam eum quas tenetur rem odit quaerat facilis exercitationem omnis
      expedita! Necessitatibus temporibus velit reprehenderit voluptatem quidem?
      Hic, rem! Quas, sequi? Dolorem ducimus eligendi fugit facere illo? Dolorem
      nisi, at voluptate quia, est placeat hic nostrum vel sequi qui laboriosam
      reiciendis iure illum dolor dicta pariatur minus amet delectus asperiores
      maxime facilis esse quae quos ducimus. Deserunt alias quod esse omnis,
      ipsa ratione corrupti nemo nam optio minima aut et est, tenetur rem eos
      repellendus. Quas dolorem et corporis in enim? Inventore, commodi omnis,
      adipisci itaque architecto fuga sunt officiis molestias nostrum nam
      veritatis? Distinctio, pariatur! Harum molestiae optio, qui doloribus
      perferendis deserunt ducimus accusamus unde deleniti culpa esse maxime
      perspiciatis architecto earum eos! Ipsum porro obcaecati deleniti eum, et
      eaque vitae? Harum similique quasi, cupiditate dolorum quam ab eaque et
      quidem nostrum ipsam culpa deleniti quibusdam accusamus? Beatae corporis
      qui dolorem? Corporis voluptate placeat omnis id unde aliquid deserunt,
      atque impedit distinctio illo? Numquam eius atque hic excepturi? Assumenda
      voluptatum culpa voluptates fugiat ab quaerat inventore deleniti quidem
      repellendus consectetur sequi pariatur expedita dolorum laudantium, iure
      doloribus? Necessitatibus corporis pariatur laborum, nihil, voluptates
      quos, dolores omnis est officia provident autem facere natus praesentium
      accusantium reiciendis placeat nam error repudiandae assumenda sunt
      incidunt eius animi fuga. Ab corporis vero omnis reprehenderit, officiis
      necessitatibus rem sapiente sunt explicabo aliquid repellendus! Molestias
      voluptas necessitatibus enim quia, similique non alias quos autem,
      cupiditate nesciunt error veniam, eaque magnam! Fugit odit quia
      repellendus corporis facere mollitia expedita esse vero adipisci tempore
      est velit, consequuntur inventore odio, necessitatibus veniam? Cum qui,
      enim quidem vero perferendis, numquam inventore tempore impedit neque
      veniam ad nostrum molestias reiciendis similique recusandae laborum illo
      velit voluptatem ratione doloribus minus eveniet. Tempore quis
      voluptatibus temporibus beatae aliquam ipsum, facilis minus nam cum
      necessitatibus architecto qui possimus voluptatem a, placeat ullam at
      dicta? Ullam, voluptates quia! Sunt ea ipsam eum inventore odio. Quam
      aspernatur sunt cupiditate nemo dolore ad adipisci harum eveniet, cum
      corrupti laboriosam quis suscipit sint consectetur. Ad at reiciendis quia
      iure temporibus in deserunt error odit! Explicabo eligendi recusandae id
      veniam saepe unde, mollitia dignissimos? Sint ea ducimus, pariatur
      consequatur quas corrupti enim odit odio quasi. Saepe, dolorem. Eum
      facilis impedit harum ab ut illo consequuntur assumenda quibusdam aperiam
      officia itaque ipsam officiis esse excepturi porro atque incidunt,
      repellendus eveniet? Adipisci illum consequatur a! Atque, quaerat rem
      dolore harum unde suscipit eum? Exercitationem quis fuga natus corrupti
      dolorem quidem sequi. Molestias nam natus quaerat, delectus, laboriosam
      impedit commodi repellat consequuntur quidem voluptatibus laborum vel
      ipsam perspiciatis dignissimos tenetur earum, labore consequatur
      recusandae ut sit accusantium. Nesciunt atque voluptate voluptatum est
      quisquam ratione praesentium at pariatur fuga, aliquam quidem beatae
      deleniti? Iste recusandae in architecto possimus consequatur. Inventore
      soluta officia, sequi praesentium fugit consectetur alias assumenda sunt
      animi cupiditate molestias, sit porro adipisci. Doloribus delectus laborum
      modi molestias quae optio aperiam cupiditate dicta, repellat quaerat
      tenetur consequatur vitae debitis officia aliquid fugiat aliquam
      reprehenderit eius. Perferendis atque at, eligendi commodi libero
      blanditiis ipsa dolore, mollitia et, magni nam assumenda similique optio
      consectetur! Nisi repellat blanditiis molestias cupiditate obcaecati modi
      voluptatum rerum officia odit quidem est autem nulla a ipsam eaque quis
      excepturi, iusto, saepe animi veritatis optio culpa natus. Ullam error
      nobis, harum hic maiores quis sed laboriosam reprehenderit sunt
      dignissimos! Quo cupiditate ducimus eaque provident? Deserunt dolores illo
      soluta quisquam. Quia nostrum sequi suscipit, debitis magnam reprehenderit
      dignissimos quo blanditiis impedit omnis quam, possimus eos ipsam
      accusamus soluta quae veritatis non id dolores officiis autem sunt
      voluptas iusto natus. Mollitia ipsa voluptate veritatis culpa, maxime
      iusto aliquam quae delectus? Unde cumque aut doloribus culpa repellendus
      maiores natus velit facilis voluptate inventore quibusdam, vero recusandae
      laborum, repellat omnis! Odio molestias aspernatur aliquam libero optio
      iure voluptatibus tempora exercitationem non nobis laudantium earum odit
      autem, aut unde ipsa doloribus ratione cum, natus consequuntur. Pariatur
      aliquam fuga quos dolores fugit dolorum consequatur, labore eum dolorem
      debitis eligendi quaerat sed, quasi saepe quibusdam ex deleniti earum
      molestiae at aspernatur. Inventore.
    </p>
    <div class="container">
      <div class="fixed w-full p-3 pl-10 pr-10 shadow bottom-0 bg-[#fff]">
        <div class="flex justify-between max-w-[400px] m-auto">
          <button class="flex items-center flex-col text-center">
            <img
              class="h-[30px]"
              src="https://icon-library.com/images/home-svg-icon/home-svg-icon-29.jpg"
              alt=""
            />
            <p class="text-[10px] font-semibold">Главная</p>
          </button>
          <button class="flex items-center opacity-40 flex-col text-center">
            <img
              class="h-[30px]"
              src="https://images.all-free-download.com/images/graphiclarge/pizza_slice_sign_icon_flat_dark_contrast_silhouette_outline_6921702.jpg"
              alt=""
            />

            <p class="text-[10px] font-semibold">Рестораны</p>
          </button>
          <button class="flex items-center opacity-40 flex-col text-center">
            <img
              class="h-[30px]"
              src="https://i.pinimg.com/originals/c3/71/6d/c3716d88b3b73b041ff900d59cbd26ba.png"
              alt=""
            />
            <p class="text-[10px] font-semibold">Магазины</p>
          </button>
          <button class="flex items-center opacity-40 flex-col text-center">
            <img
              class="h-[30px]"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Ic_shopping_cart_48px.svg/1024px-Ic_shopping_cart_48px.svg.png"
              alt=""
            />
            <p class="text-[10px] font-semibold">Корзина</p>
          </button>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
  </body>
</html>
