.Blog{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    .wrapper{
        padding: 6.510416666666667vw 10vw;        
        @media (max-width:1629px){
            padding: 6.510416666666667vw 5vw;            
        }
        @media (max-width:1555px){
            padding: 6.510416666666667vw 3.2552083333333335vw;            
        }
        @media (max-width:1250px){
            padding: 6.510416666666667vw 80px;            
        }
        @media (max-width:1000px){
            padding: 6.510416666666667vw 60px;            
        }
        @media (max-width:870px){
            padding: 6.510416666666667vw 3.2552083333333335vw;            
        }         
        @media (max-width:450px){
            padding: 6.510416666666667vw 1.953125vw;            
        }  
        .title{
            color: black;
            text-align: center;
            margin-bottom: 3.2552083333333335vw;
            font-size:3.5807291666666665vw;
            font-weight: 700;
font-size:3.125vw;
line-height:3.7760416666666665vw;
/* identical to box height, or 120% */

text-align: center;

color: #2A2C1F;

            // @media (max-width:600px) {
            //     font-size: 2.6041666666666665vw;
            //     margin-bottom: 1.953125vw;
            // }
        }  
        .blog{
            padding: 0.9765625vw;
            @media (max-width:1100px) {
                padding: 0.6510416666666666vw;
            }
            @media (max-width:500px) {
                padding:  0.3255208333333333vw;
            }
            .body{
                transition: 0.4s;
                &:hover{
                    .img{
                        img{
                            transform: scale(1.1);                        }
                    }   
                }
                background-color: white;
                border: 1px solid #E7E8E3;
                box-shadow: 0px 0.13020833333333334vw 0.2604166666666667vw rgba(0, 0, 0, 0.08);
                border-radius: 0.9114583333333334vw;
                overflow: hidden; 
                @media (max-width:1100px) {
                    border-radius: 0.5208333333333334vw;
                }               
                @media (max-width:500px) {
                    border-radius:  0.3255208333333333vw;
                } 
                .img{
                    width: 100%;
                    height: 19.53125vw;
                    position: relative;
                    overflow: hidden;
                    img{
                        transition: 0.4s;
                    }
                    @media (max-width:1300px) {
                        height:16.276041666666668vw;
                    }
                    @media (max-width:1200px) {
                        height:13.020833333333334vw;
                    }
                    @media (max-width:1000px) {
                        height:9.765625vw;
                    }
                    @media (max-width:800px) {
                        height:7.8125vw;
                    }
                    @media (max-width:700px) {
                        height:9.765625vw;
                    }
                    // @media (max-width:600px) {
                    //     height: 8.463541666666666vw;
                    // }
                    // @media (max-width:500px) {
                    //     height: 6.510416666666667vw;
                    // }
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
                .text{
                    padding: 1.3020833333333333vw;
                    text-align: left;
                    .date-cont{
                        display: flex;
                        gap: 0.9765625vw;
                        align-items: center;
padding-bottom: 0.9765625vw;
                          .day{
                        display: flex;
                        gap: 0.9765625vw;
                        align-items: center;
padding: 0.2604166666666667vw 0.5208333333333334vw;background: #FAE8E1;
border-radius: 2.0833333333333335vw;
font-weight: 400;
font-size: 0.9114583333333334vw;
line-height:1.3671875vw;
                    }
                    .date{
                        font-weight: 400;
font-size: 0.9114583333333334vw;
line-height:1.3671875vw;
                        margin: 0 !important;
                    }}
                  
                    @media (max-width:1000px) {
                       padding: 0.6510416666666666vw;
                    }
                    @media (max-width:500px) {
                        padding:  0.3255208333333333vw;                        
                    }
                    .desc{
                        // border: solid 1px;
                        height: 3.2552083333333335vw;                            
                        overflow: hidden;
                        font-weight: 400;
font-size: 1.0416666666666667vw;
line-height: 1.5625vw;
                        @media (max-width:1200px) {
                            height: 2.7994791666666665vw;   
                        }
                        @media (max-width:1000px) {
                            height: 2.6041666666666665vw;   
                        }
                        @media (max-width:500px) {                       
                            height:2.1484375vw;                                                        
                        }
                    }
                    .date, .desc{
                        color: black;
                        opacity: 0.7;
                        text-align: left;
                        @media (max-width:1200px) {
                            font-size: 0.9114583333333334vw;
                        }
                        @media (max-width:1000px) {
                            padding: 0;
                            margin: 0;
                            margin-bottom:  0.3255208333333333vw;
                            font-size: 0.8463541666666666vw;
                        }
                        @media (max-width:500px) {
                            font-size: 0.7161458333333334vw;
                            margin-bottom: 0.13020833333333334vw;
                        }
                    }
                    .name{
                        text-align: left;
                        color: black;
                        height: 1.3020833333333333vw;
                        // overflow: hidden;
                        font-weight: 700;
font-size: 1.5625vw;
line-height: 2.2135416666666665vw;
width: 100%;
height: auto;
                        // border: solid 1px;
                        @media (max-width:1200px) {
                            font-size: 1.0416666666666667vw;
                        }
                        @media (max-width:1000px) {
                            padding: 0;
                            margin: 0;
                            margin-bottom:  0.3255208333333333vw;
                            font-size: 0.9765625vw;
                        }
                        @media (max-width:500px) {
                            font-size: 0.8463541666666666vw;
                            height: 1.0416666666666667vw;
                            margin-bottom: 0.13020833333333334vw;
                        }
                    }
                    .read{
                        font-weight: 400;
font-size: 1.0416666666666667vw;
line-height: 1.5625vw;
                        color: black;
                        padding: 0;
                        text-align: left;                        
                        &:hover{
                            color: rgb(255, 54, 155);
                        }  
                        @media (max-width:1000px) {
                            font-size: 0.9114583333333334vw;
                        }    
                        @media (max-width:500px) {
                            font-size: 0.78125vw;
                        }                  
                    }
                }
            }
        }
        .one-blog{

            margin-top:9.765625vw;
            margin-bottom: 6.510416666666667vw;
            @media (max-width:1555px){
                padding: 0 3.2552083333333335vw;            
            }
            @media (max-width:1000px){
                padding: 0 3.2552083333333335vw;            
            }
            // @media (max-width:600px){
            //     padding: 0;            
            // }
            .title{
                text-align: left;
                @media (max-width:700px) {
                    font-size: 2.6041666666666665vw;
                }
                // @media (max-width:600px) {                    
                //     margin-bottom: 0px;
                // }
                // @media (max-width:500px) {
                //     font-size: 1.953125vw;
                // }
            }
            p{
                margin-top: 3.2552083333333335vw;
            }
            .one-img{
                margin-top: 3.2552083333333335vw;
                position: relative;
                height:52.083333333333336vw;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width:1450px){
                    height:45.572916666666664vw;     
                }
                @media (max-width:1250px){
                    height:39.0625vw;     
                }
                @media (max-width:850px){
                    height:32.552083333333336vw;     
                }
                @media (max-width:700px){
                    height:29.296875vw;     
                }
                @media (max-width:500px){
                    height:22.786458333333332vw;     
                }
                @media (max-width:400px){
                    height: 19.53125vw;     
                }
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .read-more{
            width: 100%;
            height: auto;
           display: flex;
           justify-content: center;    margin-top: 6.510416666666667vw;
            .btn{
                width:13.435546875vw;
                height:4.166666666666667vw;
                border: 1.30612px solid #000000;
                border-radius:0.2551022135416667vw;
                font-weight: 700;
font-size:1.360546875vw;
line-height:2.0182291666666665vw;
/* identical to box height, or 150% */

text-align: center;

color: #2A2C1F;
transition: 0.7;
&:hover{
    background-color: #000000;
    color: #fff;

}
            }
        }
    }
}

.OneBlog{
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .blog{
        padding: 0.9765625vw;
        width:21.549479166666668vw;
        @media (max-width:1100px) {
            padding: 0.6510416666666666vw;
        }
        @media (max-width:500px) {
            padding:  0.3255208333333333vw;
        }
        .body{
            background-color: white;
            border: 1px solid #E7E8E3;
            box-shadow: 0px 0.13020833333333334vw 0.2604166666666667vw rgba(0, 0, 0, 0.08);
            border-radius: 0.9114583333333334vw;
            overflow: hidden; 
            @media (max-width:1100px) {
                border-radius: 0.5208333333333334vw;
            }               
            @media (max-width:500px) {
                border-radius:  0.3255208333333333vw;
            } 
            .img{
                width: 100%;
                height: 19.53125vw;
                position: relative;
                @media (max-width:1300px) {
                    height:16.276041666666668vw;
                }
                @media (max-width:1200px) {
                    height:13.020833333333334vw;
                }
                @media (max-width:1000px) {
                    height:9.765625vw;
                }
                @media (max-width:800px) {
                    height:7.8125vw;
                }
                @media (max-width:700px) {
                    height:9.765625vw;
                }
                // @media (max-width:600px) {
                //     height: 8.463541666666666vw;
                // }
                // @media (max-width:500px) {
                //     height: 6.510416666666667vw;
                // }
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
            .text{
                padding: 1.3020833333333333vw;
                text-align: left;
                .date-cont{
                    display: flex;
                    gap: 0.9765625vw;
                    align-items: center;
padding-bottom: 0.9765625vw;
                      .day{
                    display: flex;
                    gap: 0.9765625vw;
                    align-items: center;
padding: 0.2604166666666667vw 0.5208333333333334vw;background: #FAE8E1;
border-radius: 2.0833333333333335vw;
                }
                .date{
                    margin: 0 !important;
                }}
              
                @media (max-width:1000px) {
                   padding: 0.6510416666666666vw;
                }
                @media (max-width:500px) {
                    padding:  0.3255208333333333vw;                        
                }
                .desc{
                    // border: solid 1px;
                    height: 3.2552083333333335vw;                            
                    overflow: hidden;
                    @media (max-width:1200px) {
                        height: 2.7994791666666665vw;   
                    }
                    @media (max-width:1000px) {
                        height: 2.6041666666666665vw;   
                    }
                    @media (max-width:500px) {                       
                        height:2.1484375vw;                                                        
                    }
                }
                .date, .desc{
                    color: black;
                    opacity: 0.7;
                    text-align: left;
                    @media (max-width:1200px) {
                        font-size: 0.9114583333333334vw;
                    }
                    @media (max-width:1000px) {
                        padding: 0;
                        margin: 0;
                        margin-bottom:  0.3255208333333333vw;
                        font-size: 0.8463541666666666vw;
                    }
                    @media (max-width:500px) {
                        font-size: 0.7161458333333334vw;
                        margin-bottom: 0.13020833333333334vw;
                    }
                }
                .name{
                    text-align: left;
                    color: black;
                    height: 1.3020833333333333vw;
                    overflow: hidden;
                    // border: solid 1px;
                    @media (max-width:1200px) {
                        font-size: 1.0416666666666667vw;
                    }
                    @media (max-width:1000px) {
                        padding: 0;
                        margin: 0;
                        margin-bottom:  0.3255208333333333vw;
                        font-size: 0.9765625vw;
                    }
                    @media (max-width:500px) {
                        font-size: 0.8463541666666666vw;
                        height: 1.0416666666666667vw;
                        margin-bottom: 0.13020833333333334vw;
                    }
                }
                .read{
                    color: black;
                    padding: 0;
                    text-align: left;                        
                    &:hover{
                        color: rgb(255, 54, 155);
                    }  
                    @media (max-width:1000px) {
                        font-size: 0.9114583333333334vw;
                    }    
                    @media (max-width:500px) {
                        font-size: 0.78125vw;
                    }                  
                }
            }
        }
    }
}

.ToBack{
    margin: 2% 0px;
    background: #ffffff;
    border: 1px solid #000000;
    padding: 0.9765625vw 70px;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 1.0416666666666667vw;
line-height:1.2369791666666667vw;
/* identical to box height */

letter-spacing: 0.02em;

color: #000000;
}